<div class="container ">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bold text-dark">Employee Recognition Feed</h1>
    <div class="h-1 bg-primary w-25 mx-auto rounded"></div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let item of recognitions()">
      <div class="recognition-card shadow-sm h-100 position-relative">
        
        <div class="points-circle shadow" [style.background-color]="getBadgeTheme(item.badge).color">
          <span class="score">{{ item.points }}</span>
          <small>pts</small>
        </div>

        <div class="card-body p-4">
          <div class="mb-3">
            <span class="badge-tag" [style.color]="getBadgeTheme(item.badge).color">
              <i class="bi" [ngClass]="getBadgeTheme(item.badge).icon"></i> 
              {{ item.badge }}
            </span>
          </div>

          <p class="quote-text">"{{ item.message }}"</p>

          <div class="d-flex align-items-center mt-4">
            <div class="user-avatar shadow-sm">
              {{ item.to.charAt(0) }}
            </div>
            <div class="ms-3">
              <h6 class="mb-0 fw-bold">{{ item.to }}</h6>
              <span class="text-muted x-small">From: {{ item.from }} • {{ item.date }}</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let item of recognitions()">
      <div class="recognition-card shadow-sm h-100 position-relative">
        
        <div class="points-circle shadow" [style.background-color]="getBadgeTheme(item.badge).color">
          <span class="score">{{ item.points }}</span>
          <small>pts</small>
        </div>

        <div class="card-body p-4">
          <div class="mb-3">
            <span class="badge-tag" [style.color]="getBadgeTheme(item.badge).color">
              <i class="bi" [ngClass]="getBadgeTheme(item.badge).icon"></i> 
              {{ item.badge }}
            </span>
          </div>

          <p class="quote-text">"{{ item.message }}"</p>

          <div class="d-flex align-items-center mt-4">
            <div class="user-avatar shadow-sm">
              {{ item.to.charAt(0) }}
            </div>
            <div class="ms-3">
              <h6 class="mb-0 fw-bold">{{ item.to }}</h6>
              <span class="text-muted x-small">From: {{ item.from }} • {{ item.date }}</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>

  </div>
</div>